*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.background {
    background-image: url(fundo.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
   
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 8%;
    font: 'Josefin Sans', sans-serif;
}

nav,h2{
    color: white;
    padding: 19px;
    font-size: 32px;
    cursor: pointer;
    letter-spacing: 3px;
    font: 'Josefin Sans', sans-serif;
}

span{
    color: #ecec6c;
    font: 'Josefin Sans', sans-serif;
}

nav ul li{
    display: inline-block;
    padding-right: 15px;
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
    font: 'Josefin Sans', sans-serif;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font: 'Josefin Sans', sans-serif;
}

nav ul li a:hover{
    color: rgb(199, 7, 224);
    transform: scale(1.2);
}

.main{
position: absolute;
top: 50%;
left: 8%;
transform: translateY(-50);
}

img{
    height: 285px;
    border-radius: 30%;
    margin-top: -45vh;
    left: 120vh ;
    position: absolute;
    
}

h4{
    color: white;
    letter-spacing: 2px;
    font-size: 18px;
    margin-top: -10vh;

}

h1{
    color: white;
    font-size: 70px;
}

h3{
    color: white;
    font-size: 18px;
    margin-bottom: 50px;
    margin-top: 15px;
}

.Container-btn form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.Container-btn form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border-radius: 30px;
    outline: none;
}

.Container-btn form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    background-color: rgb(169, 9, 190);
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: bold;
    box-shadow: 0px 0px 15px #ffffff;
    right: 6px;
    top: 6px;
}

.background-color-sobre{
    background-image: url(fundo.jpg);
    width:100%;
    height: 80vh;
    padding: 100px 0px;
}

.text-sobre{
    width: 580px;
}

.main-sobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 750px;
    border-radius: 2%;
    margin: 0 auto;
    padding: 0 auto;
    background-color:#faffa2;
}


.text-sobre h2{
    color: #000000;
    font-size: 45px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align:center;
    margin-bottom: -3%;
    letter-spacing: 4px;
    
}

.text-sobre p{
    color:rgb(0, 0, 0);
    letter-spacing: 1px;
    line-height: 29px;
    text-align: center;
    font-size: 17px;
    margin-bottom: 45px;
}


.container-linguagens{
    padding: 100px 0px;
    width: 100%;
    background-image: url(fundo.jpg);
    
}

.title h2{
    color:  rgb(255, 255, 255);
    font-size: 45px;
    width: 930px;
    margin: -10px auto;
    text-align: center;
    margin-bottom: 20px;
}

.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    flex-wrap: wrap;
}

.card{
    background-color: #eef390;
    height: 185px;
    width: 215px;
    border: 20px;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.card:hover{
    transform: scale(1.2);
    transition: .2s;

}

.card i{
    font-size: 90px;
    color: rgb(0, 0, 0);
    display: block;
    text-align: center;
    margin: 25px 0px;
}

.card h5{
    color: rgb(0, 0, 0);
    font-size: 19px;
    margin-bottom: 15px;
}

.container-projeto{
    padding: 120px 0px;
    width: 100%;
    background-image: url(fundo.jpg);
}

.titulo h2{
    color:  rgb(255, 255, 255);
    font-size: 45px;
    width: 930px;
    margin: -10px auto;
    text-align: center;
    margin-bottom: 20px;

}

.project{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    flex-wrap: wrap;
}

.proj{
    background-color: #eef390;
    height: 185px;
    width: 215px;
    border: 20px;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.proj:hover{
        transform: scale(1.1);
        transition: .2s;
}

.proj p{
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin: 80px 10px;
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 0px 3px 3px;
    letter-spacing: 1px;
    
}

.proj i{
    font-size: 100px;
    color: #000000;
    text-align: center;
    margin: 40px 10px;
}



footer{
    background-image: url(fundo.jpg);
    padding: 180px 0px;
    width: 100%;
    position: relative;
    background-color: #191919;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fonte{
    font-size: 30px ;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-align: center;
    margin-top: 80px;
}


.redes-sociais a {
    background-color: #000000;
    padding: 35px;
    margin: 25px;
    font-size: 68px;
    border-radius: 50%;
    color: #ffffff;
    letter-spacing: 2px;
    text-decoration: none;
    align-items: center;
}

.redes-sociais a :hover {
  transform: scale(1.2);
  transition: .7s;
}